@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #0000ff;
    --color-secondary: #6419E6;
    --color-white: #fff;
    --color-red: red;
  }

body {
  margin: 0;
  padding: 0;
  background: white;
}

p{
  color: #000;
}

