@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #0000ff;
  }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}

p{
  color: #000;
}

